@use '@/shared/styles/variables' as *;

.menuContent {
  position: relative;
  z-index: 1000;
  width: 100%;
  padding: var(--spacing-l) var(--spacing-2xl);
  height: 100px;
}

.menu {
  height: 100%;
  display: none;
  align-items: center;
  justify-content: flex-end;
  gap: 2rem;

  @media (min-width: $breakpoint-m) {
    display: flex;
  }
}

.logoContent {
  cursor: pointer;
  margin-right: auto;
  font-size: max(3vw, 22px);
  font-weight: 300;
  letter-spacing: 0.2em;
  font-style: italic;
}

.dropdownMenuContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 1001;

  @media (min-width: $breakpoint-m) {
    display: none;
  }
}

.dropdownMenuContent button {
  background: none;
  border: none;
  cursor: pointer;
  padding: var(--spacing-s);
  position: relative;
  z-index: 1002;
}

.iconMenu {
  stroke-width: 1;
  transition: transform 0.3s ease-in-out;
  position: relative;
  z-index: 1002;
}

.iconMenu:hover {
  transform: scale(1.1);
}

.menu li {
  position: relative;
  font-weight: 400;
  font-size: var(--fs-s);
  text-shadow: 1px 1px 2px black;
  padding: var(--spacing-l);
  transition: 0.2s linear color;
}

.menu li::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: scaleX(0) translateX(-50%);
  background-color: var(--btn-hover);
  height: 2px;
  border-radius: 4px;
  display: block;
  width: 100%;
}

@keyframes aumentarTamanho {
  to {
    transform: scaleX(1) translateX(-50%);
  }
}

.menu li:last-child,
.dropdownMenu li:last-child {
  border-radius: 8px;
  box-shadow: 0px 0px 0px 1px var(--default-shadow);
  padding: var(--spacing-s) var(--spacing-l);
  border-radius: 4px;
}

.dropdownMenu .logoContent {
  padding: 0 5vw;
}

.menu li:hover,
.dropdownMenu li:hover {
  color: var(--btn-hover);
}

.menu li:not(:first-child, :last-child):hover::after {
  animation: forwards 0.5s aumentarTamanho ease-out;
}

.underline {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 30px;
  background-color: var(--ferrari-color);
}

.dropdownMenu {
  backdrop-filter: blur(5px);
  height: 100vh;
  width: 100vw;
  padding: var(--spacing-l);
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(24, 22, 22, 0.95);
  overflow: hidden;

  @media (min-width: $breakpoint-m) {
    display: none;
  }
}

.dropdownMenu li {
  font-size: var(--fs-m);
  padding: var(--spacing-m) 0;
  text-align: center;
  transition: color 0.3s ease;

  &:hover {
    color: var(--btn-hover);
  }
}

.menu>li:not(:has(.dropdownContent)) {
  display: none;

  @media (min-width: $breakpoint-m) {
    display: block;
  }
}