:root[data-theme="dark"] {
  --text-color: rgb(221, 213, 213);
  --bg-color: rgb(24, 22, 22);
  --bg-color-2: rgb(18, 17, 17);
  --bg-color-cyan: rgba(9, 10, 48, 0.3);
  --ferrari-red: #8B0000;
  --btn-hover: rgb(46, 105, 214);
  --cream: #F5DEB3;
  --brown-leather: #8B4513;
  --default-shadow: rgba(255, 255, 255, 0.1);
  --hover-accent: hsla(0, 7%, 65%, 0.266);
}